.tasks {
    border: 1x solid red;
    border-radius: 5%;
    padding: 5px;
}

.show {
    border: 1x solid lightblue;
    border-radius: 5%;
    padding: 5px;
}

.btn-success {
    margin: 5px;
}
.btn-sm {
    margin: 1px;
}
.router {
    border: 1x solid red;
    border-radius: 5%;
    padding: 5px;
}
